[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/
[Ll]ogs/
[Pp]ackages/com.unity.render-pipelines.universal/ShaderLibrary/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Pp]ackages/packages-lock.json
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.userprefs
.DS_Store
.idea/
.vscode/
*.unitypackage
*.apk
*.aab
*.app
*.xcworkspace
*.xcuserdata/
